# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# 忽略所有.txt结尾的文件，这样的话上传就不会被选中： *.txt
# 但lib.txt除外： !lib.txt
# 仅忽略项目根目录下的TODO文件，不包括其他目录temp： /temp
# 忽略build/目录下的所有文件： build/
# 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt  doc/*.txt

*.class
*.log
*.lock

